.container {
    display: grid;
    grid-template-columns: repeat(16, 62px);
    grid-template-rows: repeat(16, 62px);
    grid-gap: 0px;
    background-color: green;
    width: 992px;
    height: 992px;
}

.msgerr {
    display: block;
    width: 992px;
    text-align: center;
    background-color: red;
}